# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode / IDE config
.vscode/
.idea/

# Mac OS
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Excel temporary files
~$*

# Output files
*.xlsx
osobne_kategorie.json
